{% extends "../base.html" %}

{% block title %}投票所{% endblock %}

{% block content %}
    <h1>投票所</h1>
    <form action="/vote/create" method="post">
        <p id="notice">{{ notice }}</p>
        <p>氏名: <input type="text" name="name" value="{{ name }}"></p>
        <p>
            最も良かったチームは？:<br />
            <input type="radio" name="type" value="1">日本舞踊<br />
            <input type="radio" name="type" value="2">空手部<br />
	    <input type="radio" name="type" value="3">チームパートタイマーの栄光<br />
	    <input type="radio" name="type" value="4">ルーキーズ<br />
            <input type="radio" name="type" value="5">銀河鉄道<br />
            <input type="radio" name="type" value="6">チョッキーズ<br />
        </p>
        <p><input type="submit" value="投票"></p>
    </form>
{% endblock %}
